.webbackground {
	background-image: url("webbackground-01.svg");
	background-size: cover;
	background-position: right top;
	position: absolute;
	top: 0;
	right: 0;
	width: 100vh;
	height: 100vh;
}
.metlogo {
	background-image: url("metlogo.svg.png");
	background-size: cover;
	background-position: left top;
	position: absolute;
	top: 5vh;
	left: 2vw;
	width: 10vh;
	height: 10vh;
}
.paperbackground {
	background-image: url("parchmentbg-01.png");
	background-size: cover;
	background-position: center;
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
}
.title {
	font-family: usual, sans-serif;
    font-weight: 800;
    font-style: normal;
    color: rgb(229,0,30);
    font-size: 70px;
    position: absolute;
    top: 30vh;
    left: 2vw;
}
.title2 {
	font-family: usual, sans-serif;
    font-weight: 800;
    font-style: normal;
    color: rgb(229,0,30);
    font-size: 70px;
    position: absolute;
    top: 42vh;
    left: 2vw;
}
.date {
	font-family: usual, sans-serif;
	font-weight: 600;
	font-style: normal;
	font-size: 30px;
	position: absolute;
	top: 58.5vh;
	left: 2vw;
}
.time {
	font-family: usual, sans-serif;
	font-weight: 600;
	font-style: normal;
	font-size: 30px;
	position: absolute;
	top: 64vh;
	left: 2vw;
}
.address {
	font-family: usual, sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 20px;
	position: absolute;
	top: 70vh;
	left: 2vw;
}
.admission {
	font-family: usual, sans-serif;
	font-weight: 600;
	font-style: normal;
	font-size: 30px;
	position: absolute;
	top: 78.5vh;
	left: 2vw;
}
.website {
	font-family: usual, sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 20px;
	position: absolute;
	top: 74.3vh;
	left: 2vw;
}
@media (max-width: 390px) {
	.webbackground {
		position: absolute;
		left: -20vw;
		width: 115vw;
		height: 115vw;
		}
		.metlogo {
			position: absolute;
			top: auto;
			bottom: 5vw;
			left: 83vw;
			width: 6vh;	
			height: 6vh;
		}
		.title {
			font-size: 55px;
			position: absolute;
			top: 46vh;
			left: 5vw;
		}
		.title2 {
			font-size: 55px;
			position: absolute;
			top: 61.5vh;
			left: 5vw;
		}
		.date {
			postion: absolute;
			top: 72.5vh;
			left: 5vw;
		}
		.time {
			position: absolute;
			top: 77.5vh;
			left: 5vw;
		}
		.address {
			position: absolute;
			top: 83vh;
			left: 5vw;
		}
		.admission {
			position: absolute;
			top: 91vh;
			left: 5vw;
		}
		.website {
			position: absolute;
			top: 87vh;
			left: 5vw;
		}
}
