.logo {
	font-family: ff-folk, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(214,33,33);
    font-size: 40px;
    position: absolute;
    top: 20px; 
    left: 30px;
}
.logo2 {
	font-family: ff-folk, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(252,220,63);
    font-size: 40px;
    position: absolute;
    top: 20px; 
    left: 85px;
}
.box {
	width: 500px;
	height: 200px;
	background-color: rgb(214,33,33);
	position: relative;
	top: 90px;
	margin-top: 80px;
	margin-left: 30px;
	display: inline-block;
}
.line {
	width: 2px;
	height: 1600px;
	background-color: black;
	position: absolute;
	left: 1110px;
	top: 0px;
}
.bronx {
	font-family: lores-9-narrow,sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 100px;
    color: black;
    position: absolute;
    top: 30px; 
    left: 350px;
}
.location1 {
	font-family: lores-9-narrow,sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
    color: black;
    position: absolute;
    top: 320px; 
    left: 1130px;
}
.address1 {
	font-family: bell-centennial-std-address, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    position: absolute;
    top: 360px;
    left: 1130px;

}
.address2 {
	font-family: bell-centennial-std-address, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    position: absolute;
    top: 390px;
    left: 1130px;

}
.address3 {
	font-family: bell-centennial-std-address, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    position: absolute;
    top: 420px;
    left: 1130px;
}
.funimages {
	font-family: lores-9-narrow,sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
    color: black;
    position: absolute;
    top: 505px; 
    left: 1130px;
}
.bronxreview1 {
	background-image: url("bronx/bronxmcds1.png");
	position: absolute;
	top: 193px;
	left: 53px;
	width: 470px;
	height: 170px;
}
.bronxreview2 {
	background-image: url("bronx/bronxmcds2.png");
	position: absolute;
	top: 193px;
	left: 587px;
	width: 470px;
	height: 170px;
}
.bronxreview3 {
	background-image: url("bronx/bronxmcds3.png");
	position: absolute;
	top: 478px;
	left: 53px;
	width: 470px;
	height: 170px;
}
.bronxreview4 {
	background-image: url("bronx/bronxmcds4.png");
	position: absolute;
	top: 478px;
	left: 587px;
	width: 470px;
	height: 170px;
}
.bronxreview5 {
	background-image: url("bronx/bronxmcds5.png");
	position: absolute;
	top: 760px;
	left: 53px;
	width: 470px;
	height: 170px;
}
.bronxreview6 {
	background-image: url("bronx/bronxmcds6.png");
	position: absolute;
	top: 760px;
	left: 587px;
	width: 470px;
	height: 170px;
}
.bronxreview7 {
	background-image: url("bronx/bronxmcds7.png");
	position: absolute;
	top: 1046px;
	left: 53px;
	width: 470px;
	height: 170px;
}
.bronxreview8 {
	background-image: url("bronx/bronxmcds8.png");
	position: absolute;
	top: 1046px;
	left: 587px;
	width: 470px;
	height: 170px;
}
.bronxreview9 {
	background-image: url("bronx/bronxmcds9.png");
	position: absolute;
	top: 1330px;
	left: 53px;
	width: 470px;
	height: 170px;
}
.bronxreview10 {
	background-image: url("bronx/bronxmcds11.png");
	position: absolute;
	top: 1330px;
	left: 587px;
	width: 470px;
	height: 170px;
}
.locationpicture {
	background-image: url("bronx/mapofbronxmcds.png");
	position: absolute;
	top: 20px;
	left: 1130px;
	width: 280px;
	height: 280px;
}
.funimageswrapper {
	position: absolute;
	top: 550px;
	left: 1130px;
	height: 950px;
	width: 293px;
	overflow-y: scroll;
}
.funimage1 {
	background-image: url("bronx/photosbronx1.png");
	position: relative;
	width: 280px;
	height: 380px;
}
.funimage2 {
	background-image: url("bronx/photosbronx2.png");
	position: relative;
	margin-top: 25px;
	width: 280px;
	height: 290px;
}
.funimage3 {
	background-image: url("bronx/photosbronx3.png");
	position: relative;
	margin-top: 25px;
	width: 280px;
	height: 380px;
}
.funimage4 {
	background-image: url("bronx/photosbronx4.png");
	position: relative;
	margin-top: 25px;
	width: 280px;
	height: 380px;
}
.funimage5 {
	background-image: url("bronx/photosbronx5.png");
	position: relative;
	margin-top: 25px;
	width: 280px;
	height: 380px;
}