body {
  width: 100vw;
  overflow-x: hidden;
}
.bigmove.alarm {
position: absolute;
  top: 0vw;
  left: 0vw; 
  animation-name: bigmove;
  animation-duration: 6s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.hour {
  position: absolute;
  top: 3vw;
  left: 3vw;
  width: 12vw;
  height: 12vw;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  background-image: url(peoplerunning-01.svg);
  background-size: contain;
  background-position: center center;  
  background-repeat: no-repeat;
  animation-name: swapImage;
  animation-duration: 10s;
  animation-iteration-count: infinite;  
  animation-timing-function: steps(1);
}
.hour2 {
  position: absolute;
  top: 3vw;
  left: 26vw;
  width: 12vw;
  height: 12vw;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  background-image: url(peoplerunning-01.svg);
  background-size: contain;
  background-position: center center;  
  background-repeat: no-repeat;
  animation-name: anotherimage;
  animation-duration: 10s;
  animation-iteration-count: infinite;  
  animation-timing-function: steps(1);
}
.hour3 {
  position: absolute;
  top: 3vw;
  left: 50vw;
  width: 12vw;
  height: 12vw;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  background-image: url(peoplerunning-01.svg);
  background-size: contain;
  background-position: center center;  
  background-repeat: no-repeat;
  animation-name: someimage;
  animation-duration: 10s;
  animation-iteration-count: infinite;  
  animation-timing-function: steps(1);
}
.hour4 {
  position: absolute;
  top: 3vw;
  left: 70vw;
  width: 12vw;
  height: 12vw;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  background-image: url(peoplerunning-01.svg);
  background-size: contain;
  background-position: center center;  
  background-repeat: no-repeat;
  animation-name: whatimage;
  animation-duration: 10s;
  animation-iteration-count: infinite;  
  animation-timing-function: steps(1);
}

.minute {
  position: absolute;
  top: 19vw;
  left: 3vw;
  width: 12vw;
  height: 12vw;
  margin-left: auto;
  margin-right: auto;  
  margin-bottom: 20px;
  background-image: url(peoplerunning-01.svg);
  background-size: contain;
  background-position: center center;  
  background-repeat: no-repeat;  
  animation-name: swapImage;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: steps(1);
  
}
.minute2 {
  position: absolute;
  top: 19vw;
  left: 26vw;
  width: 12vw;
  height: 12vw;
  margin-left: auto;
  margin-right: auto;  
  margin-bottom: 20px;
  background-image: url(peoplerunning-01.svg);
  background-size: contain;
  background-position: center center;  
  background-repeat: no-repeat;  
  animation-name: anotherimage;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: steps(1);
}
.minute3 {
  position: absolute;
  top: 19vw;
  left: 50vw;
  width: 12vw;
  height: 12vw;
  margin-left: auto;
  margin-right: auto;  
  margin-bottom: 20px;
  background-image: url(peoplerunning-01.svg);
  background-size: contain;
  background-position: center center;  
  background-repeat: no-repeat;  
  animation-name: someimage;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: steps(1);
}
.minute4 {
  position: absolute;
  top: 19vw;
  left: 70vw;
  width: 12vw;
  height: 12vw;
  margin-left: auto;
  margin-right: auto;  
  margin-bottom: 20px;
  background-image: url(peoplerunning-01.svg);
  background-size: contain;
  background-position: center center;  
  background-repeat: no-repeat;  
  animation-name: whatimage;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: steps(1);
}
.second {
  position: absolute;
  top: 33vw;
  left: 3vw;
  width: 12vw;
  height: 12vw;
  margin-left: auto;
  margin-right: auto;  
  background-image: url(peoplerunning-01.svg);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  animation-name: swapImage;
  animation-duration: .6s;
  animation-iteration-count: infinite;
  animation-timing-function: steps(1);
}
.second2 {
  position: absolute;
  top: 33vw;
  left: 26vw;
  width: 12vw;
  height: 12vw;
  margin-left: auto;
  margin-right: auto;  
  background-image: url(peoplerunning-01.svg);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  animation-name: anotherimage;
  animation-duration: .6s;
  animation-iteration-count: infinite;
  animation-timing-function: steps(1);
}
.second3 {
  position: absolute;
  top: 33vw;
  left: 50vw;
  width: 12vw;
  height: 12vw;
  margin-left: auto;
  margin-right: auto;  
  background-image: url(peoplerunning-01.svg);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  animation-name: someimage;
  animation-duration: .6s;
  animation-iteration-count: infinite;
  animation-timing-function: steps(1);
}
.second4 {
  position: absolute;
  top: 33vw;
  left: 70vw;
  width: 12vw;
  height: 12vw;
  margin-left: auto;
  margin-right: auto;  
  background-image: url(peoplerunning-01.svg);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  animation-name: whatimage;
  animation-duration: .6s;
  animation-iteration-count: infinite;
  animation-timing-function: steps(1);
}
.finishline {
 background-image: url(finishlinenew3-11.svg);
 position: absolute;
 top: 0vw;
 right: 0;
 width: 10vw;
 height: 49.38vw;
 background-repeat: no-repeat;
}
.finish {
  font-family: 'Work Sans', sans-serif;
  font-weight: 800;
  font-style: normal;
  color: black;
  font-size: 60px;
  position: absolute;
  top: 44vh;
  left: 78vw;
  transform: rotate(90deg);
  letter-spacing: 8px;
}
.finish.alarm {
  animation-name: colorchange;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
.minute.alarm {
  animation-name: swapImage,oneguyfalls;
  animation-timing-function: steps(1),linear;
  animation-iteration-count: infinite,1;
  animation-fill-mode: forwards,forwards;
  animation-duration: 6s,6s;
}
@keyframes swapImage {
  0% {
    background-image: url(peoplerunning-01.svg);
  }
  20% {
    background-image: url(peoplerunning-02.svg);
  }
  40% {
    background-image: url(peoplerunning-03.svg);
  }  
  60% {
    background-image: url(peoplerunning-04.svg);
  }  
  80% {
    background-image: url(newpeoplerunning-05.svg);
  }  
  100% {
    background-image: url(peoplerunning-01.svg);
  }
}
@keyframes anotherimage {
  0% {
    background-image: url(peoplerunning-02.svg);
  }
  20% {
    background-image: url(peoplerunning-03.svg);
  }
  40% {
    background-image: url(peoplerunning-04.svg);
  }  
  60% {
    background-image: url(newpeoplerunning-05.svg);
  }  
  80% {
    background-image: url(peoplerunning-01.svg);
  }  
  100% {
    background-image: url(peoplerunning-02.svg);
  }
}
@keyframes someimage {
  0% {
    background-image: url(peoplerunning-03.svg);
  }
  20% {
    background-image: url(peoplerunning-04.svg);
  }
  40% {
    background-image: url(newpeoplerunning-05.svg);
  }  
  60% {
    background-image: url(peoplerunning-01.svg);
  }  
  80% {
    background-image: url(peoplerunning-02.svg);
  }  
  100% {
    background-image: url(peoplerunning-03.svg);
  }
}
@keyframes whatimage {
  0% {
    background-image: url(peoplerunning-04.svg);
  }
  20% {
    background-image: url(newpeoplerunning-05.svg);
  }
  40% {
    background-image: url(peoplerunning-01.svg);
  }  
  60% {
    background-image: url(peoplerunning-02.svg);
  }  
  80% {
    background-image: url(peoplerunning-03.svg);
  }  
  100% {
    background-image: url(peoplerunning-04.svg);
  }
}
@keyframes bigmove {
  0% {
    left: 0vw;
  }
  100% {
    left: 100vw;
  }
}
@keyframes colorchange {
  0% {
    color: black;
  }
  20% {
    color: rgb(220,20,60);
  }
  40% {
    color: black;
  }  
  60% {
    color: rgb(220,20,60);
  }  
  80% {
    color: black;
  }  
  100% {
    color: rgb(220,20,60);
  }
}
@keyframes oneguyfalls {
  0% {
    left: 0vw;
    
  } 
  97% {
    left: 70vw;
    
  }  
  100% {
    left: 70vw;
  }
}