* {
  -webkit-tap-highlight-color: transparent;
}

html {
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

body {
  margin: auto;
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: black;
  overflow: hidden;
}

.instructions {
  position: absolute;
  width: 100%;
  height: 30px;
  left: 0; right: 0; bottom: 34px;
  margin: 0 auto;
  line-height: 30px;
  font-size: 16px;
  text-align: center;
 font-family: usual,sans-serif;
font-weight: 400;
font-style: normal;
  color: white;
  opacity: 0;
  z-index: 10;
  pointer-events: none;
  transition: opacity 500ms ease-in-out;
}

.instructions.show {
  opacity: 1;
}

.score {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 90px;
  height: 90px;
  line-height: 90px;
 background-image: url("./img/bubble.png");
 background-size: contain;
  color: rgb(30,156,215);
 font-family: usual,sans-serif;
font-weight: 700;
font-style: normal;
  font-size: 22px;
  text-align: center;
}

.background {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  margin: auto;
  width: 1024px;
  height: 748px;
  background-image: url("./img/background.png");
  background-size: contain;
  background-repeat: no-repeat;
  pointer-events: none;
}

.hero {
  position: absolute;
  bottom: 80px;
  left: 135px;
  width: 200px;
  height: 200px;
  background-image: url("./img/idling-sprite.png");
  animation-name: spriteSheet;
  animation-duration: 1000ms;
  animation-timing-function: steps(2); /* number of frames in sprite (not counting the final blank space) */
  background-position: 0 center;
  background-size: cover;
  transition-property: left, margin-bottom;
  transition-timing-function: linear, ease-in-out;
  pointer-events: none;
  animation-iteration-count: infinite;
}

.hero.walking {
  background-image: url("./img/walking-sprite.png");
  animation-name: spriteSheet;
  animation-duration: 300ms;
  animation-timing-function: steps(4); /* number of frames in sprite (not counting the final blank space) */
}

.hero.left {
  transform: scale(-1, 1);
}

.hero.jumping {
  background-image: url("./img/jumping-sprite.png");
  animation-name: spriteSheet;
  animation-duration: 1000ms;
  animation-timing-function: steps(4); /* number of frames in sprite (not counting the final blank space) */
}

.hero.doing-action {
  background-image: url("./img/action-sprite.png");
  animation-name: spriteSheet;
  animation-duration: 900ms;  /* set to same number in initialize() as well or it will look weird */
  animation-timing-function: steps(4); /* number of frames in sprite (not counting the final blank space) */
}

.npc {
  position: absolute;
  width: 300px;
  height: 300px;
  bottom: 200px;
  background-image: url("./img/npc-sprite.png");
  background-size: cover;
  animation-name: spriteSheet;
  animation-duration: 500ms;
  animation-timing-function: steps(2); /* number of frames in sprite (not counting the final blank space) */
  animation-iteration-count: infinite;  
  pointer-events: none;
}

.npc.was-interacted {
  background-image: url("./img/sharkangry.png");
    transition: right 1800ms linear;
    animation-timing-function: steps(3);
    animation-iteration-count: 1;  
    animation-fill-mode: forwards;
    animation-duration: 800ms;
    right: -200px !important;
}
.collectable {
  width: 80px;
  height: 80px;
  position: absolute;
  background-image: url("./img/coin.png");
  background-size: contain;
}
.collectable-0 {
bottom: 550px;
left: 420px;
}
.collectable-1 {
bottom: 450px;
left: 320px;
}
.collectable-2 {
bottom: 340px;
left: 250px;
}
.collectable-3 {
bottom: 260px;
left: 380px;
}
.collectable-4 {
bottom: 380px;
left: 460px;
}
.collectable-5 {
bottom: 480px;
left: 530px;
}
.collectable-6 {
bottom: 300px;
left: 580px;
}
.collectable-7 {
bottom: 400px;
left: 650px;
}
.collectable-8 {
bottom: 200px;
left: 500px;
}

.preload-image {
  position: absolute;
  left: -99999px;
  top: -99999px;
  opacity: 0;
  pointer-events: none;
}

@keyframes spriteSheet {
  0% {
    background-position: 0% center;
  }
  100% {
    background-position: 100% center;
  }
}